.home {
    width: 100%;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: #3e497a;
}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
}

.about h2 {
    
    font-size: 35px;
    color: #e9d35b;
    height: 50px;
    margin-top: 10px;
}

.about .prompt {
    font-size: 25px;
    margin-top: 10px;
    width: 50%;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    border-radius: 15px;
    height: 40vh;
    
    margin-right: 50px;
}

.profile p {
    color: white;
    text-align: left;
}

.prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
}

.skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills h1 {
    color: #3e497a;
}

.skills .list {
    list-style: none;
    width: 60%;
}

.list span {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .about h2 {
        font-size: 40px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 80%;
    }

    .skills {
        text-align: center;
    }

    .list {
        padding: 0;
    }

    .skills h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 830px) {
    .about h2 {
        font-size: 25px;
    }

    .skills h1 {
        font-size: 30px;
    }

    .skills h2 {
        font-size: 25px;
    }

    

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 70%;
    }

    .profile {
        width: 80%;
    }

    .prompt svg {
        font-size: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .about h2 {
        font-size: 20px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 20px;
        width: 70%;
    }

    .profile {
        width: 80%;
    }

    .prompt svg {
        font-size: 30px;
    }
    .prompt p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 430px) {
    .about h2 {
        font-size: 20px;
    }

    .about .prompt {
        margin-top: 10px;
        font-size: 15px;
        width: 70%;
    }

    .profile {
        width: 95%;
    }

    .prompt svg {
        font-size: 25px;
    }
    .prompt p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .about h2 {
        font-size: 18px;
    }

    .about .prompt {
        
        font-size: 15px;
        width: 70%;
    }

    .profile {
        width: 95%;
    }

    .prompt svg {
        font-size: 20px;
    }
    .prompt p {
        font-size: 12px;
    }
}