.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
    text-align: center;
}

.individualProject {
    border-radius: 15px;
    width: 500px;
    height: 500px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.projectDetails {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.websiteDemoBtn {
    background: #3e497a;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

.project p {
    font-size: 35px;
    color: #3e497a;
}

.project .small {
    font-size: 20px;
    color: #3e497a;
}

.project .websiteLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.project .websiteDemoBtn a {
    text-decoration: none;
    color: white;
}

.project svg {
    font-size: 60px;
    color: #3e497a;
    margin-bottom: -18px;
}

.project svg:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.10, 1.10);
}

@media only screen and (max-width: 650px) {
    .projectDetails {
        width: 100%;
    }

    .individualProject {
        width: 70%;
    }

    .project h1 {
        margin-top: 20px;
        color: #3e497a;
        font-size: 20px;
    }

    
    .project .websiteDemoBtn {
        width: 70px;
        height: 35px;
        font-size: 20px;
    }

    .project p {
        text-align: center;
        font-size: 20px;
    }

    .project .websiteLink svg {
        font-size: 45px;
    }
}

@media only screen and (max-width: 900px) {
    .project img {
        width: 70%;
    }

    .project h1 {
        margin-top: 20px;
        color: #3e497a;
        font-size: 30px;
    }

    .project p {
        text-align: center;
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    
    
} 

@media only screen and (max-height: 800px) {
    .individualProject {
        width: 200px;
        height: 300px;
    }
    .projectDetails {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .project  p {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }
    .project .websiteDemoBtn {
        width: 50px;
        height: 25px;
        font-size: 10px;
    }
  
}